@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{   /* this is known as the wild card...this was created to help me see where my boxes were and to keep track of my layout and where I am in the process*/
    font-family: 'Roboto', sans-serif;
}
.flex{  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexstart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ind-border{
    border: lightgrey solid 4px;
}
.jane-doe{
    background-color: white;
    width: 630px;
    margin-top: 30px;
}
.jname{
    margin-top: 45px;
    margin-left: 6px;
    /*I may not need this class however will hold onto to it for now in case I need it later*/
}
.jheader{
    background-color: RGB(21, 170, 191);
    height: 106px;
}
.img-profile{
    width: 106px;    
    margin-top: 50px;
    margin-left: 25px;
    border-radius: 50%;
    border: lightgrey solid 2px;
}
.cardcontent{
    padding: 20px;
}
.jpar{
    margin-top: -21px;
}
.seattle{
    margin-top: -26px;
}
.loc-marker{
    width: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.gear-marker{
    width: 15px;
    margin-left: 10px;
}